<div class="col-md-12" id="rails_admin_nestable">

  <% if [false, :only].exclude?(@options[:live_update]) %>
    <div class="form-group">
      <div class="checkbox">
        <label>
          <%= check_box_tag 'rails_admin_nestable_live_update' %>
          <%= t('admin.actions.nestable.live_update') %>
        </label>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <div class="dd" data="<%= { update_path: nestable_path(model_name: @abstract_model), max_depth: tree_max_depth } %>" id="tree_nodes">
      <ol class="dd-list">
        <%= nested_tree_nodes @tree_nodes %>
      </ol>
    </div>
  </div>

  <% if @options[:live_update] != :only %>
    <div class="form-group">
      <button class="btn btn-primary mt-3 mb-4" type="submit">
        <%= t('admin.actions.nestable.update') %>
      </button>
    </div>
  <% end %>

</div>

<%= javascript_include_tag 'https://code.jquery.com/jquery-3.5.1.min.js', integrity: "sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=", crossorigin: "anonymous" %>
<%= javascript_include_tag 'rails_admin/jquery.nestable' %>
<%= javascript_include_tag 'rails_admin/rails_admin_nestable' %>
<%= stylesheet_link_tag    'rails_admin/rails_admin_nestable' %>